/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #FF4500; /* Cor de destaque do Free Fire */
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

#video-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.video-item {
    width: 30%;
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.video-item:hover {
    transform: scale(1.05);
}

.video-item img {
    width: 100%;
    height: auto;
}

.video-item h2 {
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    background-color: #FF4500;
    color: white;
}

.video-item p {
    padding: 10px;
    font-size: 1em;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #FF4500;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

